[core]
	excludesfile = /Users/charlesbergeron/.gitignore_global
[alias]
	st = status
	di = diff
	co = checkout
	p = pull
	f = fetch
	ci = commit
	llog = log --date=local
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
